.logged__inheader {
	display: flex;
	align-items: center;
	background-color: #263238;
	justify-content: space-between;
}

.header__logotext {
	color:#fff;
	font-size: 18px;
	padding: 1.5rem;
}

.search {
	border-radius: 4px;
	background-color: #c0c0c0;
	padding: 1rem;
}
